/* CSS declarations go here */
@import url("//hello.myfonts.net/count/27f1bb");

  
@font-face {font-family: 'TradeGothicLTPro-Light';
src: url('/27F1BB_0_0.eot');src: url('/27F1BB_0_0.eot?#iefix') format('embedded-opentype'),url('/27F1BB_0_0.woff') format('woff'),url('/27F1BB_0_0.ttf') format('truetype');}


html { height: 100% }
body { height: 100%; 
		margin: 0; 
		padding: 0; 
		background-color: #F4F6F6; 
		font-family: 'TradeGothicLTPro-Light';
		color:#58595B;
		font-size:13px;
}
:focus {
	outline: none;
}
#container {
	width:900px;
	height:100%;
	overflow:hidden;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	padding:0;
}

input {
	border:0 solid #ffffff;
	margin:0;
	-webkit-appearance: none;
	display: inline-block;
	text-align: center;
	border-radius: 3px;
	font-weight:300;
}

input:hover {
	cursor: pointer;
}

#header {
	height:58px;
	padding:6px 0 14px 0;
}

#header #logo{
	position:relative;
	float:left;
}
#header #logo:hover{
	cursor:pointer;
}

#menu{
	margin-top: 10px;
	margin-left: 140px;
	position:relative;
	float:left;
	
}	

#menu ul{
	padding-left: 0px;
	list-style: none;
}

#menu ul li{
	position: relative;
	float:left;
	width:140px;
}


#menu ul li:hover{
	cursor: pointer;
	color:#E16C4E;
}

#menu ul li label{
	font-size: 14px;
	margin-left: 8px;
	vertical-align: 50%;
}

#menu ul li label:hover{
	cursor: pointer;
}
.sig {
	width:56px;
	height:30px;
	background-color:#ffffff;	
	font-size:11px;	
	position:relative;
	float:right;
	margin-top:28px;
}

#login-temp {
	margin-top:28px;
	margin-right:160px;
	position:relative;
	float:right;
}

.sig:hover{	
	background-color:#E16C4E;
	color:#ffffff;
}

#signin {
	border-radius: 3px 0 0 3px;
}

#signup {
	border-radius: 0 3px 3px 0;
	margin-left:1px;

}


#intro{
	position:relative;
	float:left;
}

#intro2{
	position:absolute;
	left:450px;
}

#circle{
	width:130px;
	height:130px;
	z-index: 998;
	position: absolute;
	left:385px;
	top:95px;
}

#circle img{
	width:inherit;
	height:inherit;
}

#circle #circle-text {
	position:absolute;
	top:0;
	width: 106px;
	font-size: 15px;
	padding-left:14px;
	padding-right: 14px;
	color: #ffffff;
	font-weight: 200;
	text-align: center;
	line-height: 20px;
}

#circle .circle-text-2{
	position:absolute;
	display:none;
	color: #ffffff;
}
#circle #clock,#circle #rounds{

	width:80px;
	top:0;
	text-align: center;	
	margin-top: 14px;
	font-size: 19px;
	font-weight: bold;
}

#circle #rounds{
	text-align: right;
	width:40px;
	top:35px;
}

#circle #totalrounds{
	text-align: left;
	top:55px;
	left:40px;
}

#circle #back-btn{
	position:absolute;
	top:0px;
	left:100px;
	width:60px;
	height:60px;
	border-radius: 40px;
	background-color: #039ED5;
	color:#ffffff;
	text-align: center;
	font-size: 14px;
	font-weight:bold;
	padding:10px;
	line-height: 20px;
}

#circle #back-btn:hover{
	cursor: pointer;
	background-color: #006884
}	

#streetview{
	position:absolute;
	top:0;
	opacity:0;
}

#map {
	position:absolute;
	top:0;
	opacity:0;
}

#top{
	position:relative;
	float:left;
	height:320px;
}

#steps{
	position:relative;
	float:left;
}
#steps ul{	
	list-style: none;
	padding:30px 60px 0 60px;
}

#steps ul li{
	position: relative;
	float: left;
	width:168px;
	margin-right:46px;
	margin-left:46px;
	text-align: center;
}

#steps ul li label{
	line-height: 44px;
	font-size: 24px;
	font-weight: 200;
}	

#steps ul li p{
	margin-top: 4px;

}

#intro-overlay{
	position:absolute;
	top:0;
	margin-left:216px;
	font-weight: 300;
}

#intro-overlay p{
	color:#ffffff;
	margin:32px 22px 0 26px;
	line-height: 22px;
	font-size: 14px;	
}

#intro-overlay div{
	margin-top: 20px;
}

#intro-overlay #autocomplete{
	border:1px solid #999;
	color:#58595B;
	font-size:13px;
	padding:0 10px 0 10px;
}

#intro-overlay #icon_pl {
	position:relative;
	left: 138px;
	top: 7px;
}

#panel {
	position:absolute;
	top:0px;
	background-color:#ffffff;
}

#panel #message {
	height:32px;
	margin-top:20px;
	margin-left: 30px;
	margin-right:30px;
	font-size:14px;	
}
#panel #score{
	height:140px;
}

#panel #score ul{
	margin-left: 30px;
	list-style: none;
	padding:0;

}

#panel #score ul li{
	position:relative;
	float:left;
	width:180px;
	height:28px;
	visibility: hidden;
}
#panel #score ul li img{
	position: relative;
	float:left;
}	

#panel #score ul li .second{
	line-height: 25px;
	position:relative;
	float:left;
	width:36px;
	text-align: right;
}
#panel #score ul li .meter{
	line-height: 25px;
	position:relative;
	float:left;
	width:50px;
	text-align: right;
}
#panel #score ul li .score{
	line-height: 25px;
	position:relative;
	float:left;
	width:52px;
	text-align: right;
	font-size:17px;
	color:#D65238;
	font-weight: bold;
}

#panel #achieve_sum {
	padding: 16px 14px 16px 14px;
}

#panel #achieve_sum ul{
	list-style: none;
	margin-left:0px;
	padding:0;
}

#panel #achieve_sum li{
	margin-left: 8px;
	height:30px;
}

#panel #achieve_sum li span{
	line-height: 30px;
}

#panel #achieve_sum li .s-name{
	position:relative;
	float:left;
	width:140px;
}

#panel #achieve_sum li .s-count{
	position:relative;
	float:left;
	line-height: 25px;
	font-size:17px;
	color:#D65238;
	text-align: right;
	font-weight: bold;
}		

.inc {
	padding:0;
	position:relative;
	margin-top:14px;
	margin-left:28px;	
	width:152px;
	height:36px;	
	color:#ffffff;
	font-size: 14px;
	padding:0 10px 0 10px;
}

#guess,#play {
	font-weight:300;
	background-color: #E16C4E;
}

#play{
	width:170px;
	margin-top: 0px;
}

#guess,#play:hover{
	background-color: #D65238;
}

#next,#final{
	background-color:#3BB98C;
}

#next,#final:hover{
	background-color:#0CA369;
}
#guess,#return,#next,#final{
	width:164px;
}

#return{
	background-color: #039ED5;
}

#return:hover{
	background-color: #006884;
}

.accounts-dialog {
	border: 0px solid #777777;
	z-index: 1000;
	background: white;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 3px;
	padding: 16px 16px;
	margin: -8px -12px 0 -12px;
	width: 188px;
	color:#58595B;
	font-size:13px;
	
}

.accounts-dialog input[type] {
	height: 32px;
}

#autocomplete,.accounts-dialog input[type]:hover{
	cursor:text;
}

#login-sign-in-link {
	text-align: center;
	padding-top:10px;
	width:56px;
	font-size:13px;	
	position:relative;
	float:right;
	
}
#login-buttons {
line-height: 2.7;
}

#login-sign-in-link:hover{
	color:#E16C4E;
}


#login-buttons a, .accounts-dialog a {
	cursor: pointer;
	text-decoration: none;
}

#login-buttons .login-close-text {
	float: right;
	font-size: 85%;
}

.accounts-dialog label, .accounts-dialog .title {
	font-weight: 300;
	font-size: 100%;
	line-height: 30px;
}

#login-buttons .login-button, .accounts-dialog .login-button {
	font-family: "TradeGothicLTPro-Light";
	margin-top:24px;
	height:18px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	padding: 8px 8px;
	font-size: 100%;	
	line-height: 1.5;
	text-align: center;
	color: #fff;
	text-shadow: none;
	background-color: #E16C4E;
	background-image:none;
	border-radius: 3px;
	border: 0px solid #1b1e2d;
	box-shadow: none;
}

#login-buttons .login-button, .accounts-dialog .login-button :hover{
	background-color: #D65238;
}

#login-buttons .login-button, .accounts-dialog .login-button :active{
	background-color: #D65238;
}


.accounts-dialog .additional-link {
	margin-top:6px;
	font-size: 85%;
}
/*******************************
*
*   achievement
*
********************************/

#achievement {
	z-index: 999;
	position:absolute;
	top:78px;
	overflow: hidden;
	background-color: #ffffff;
}

#achievement .col{
	position:relative;
	float:left;
	width:122px;
	padding:16px 14px 16px 14px;
	border-right: 1px solid #F4F6F6;
}

#achievement .title, #panel .title{
	vertical-align: 70%;
	margin-left: 4px;
}


#achievement ul{
	list-style: none;
	padding:0;
}

#achievement li a{
	margin-left:4px;
	vertical-align: 50%;
	font-size: 12px;
	color: #989898;
}

#achievement li a:hover{
	cursor: pointer;
	color: #E16C4E;
}

#profile li img{
	visibility: hidden;
}

#collections ul li{
	width:116px;
	position:relative;
	float:left;
	text-align: center;
	margin-right:24px;
	margin-left:24px;
	margin-bottom:10px;

}

#collections ul li img[src="collection.png"]{
	width:116px;
	height:116px;
}
#collections ul li .sticker{
	
	width:116px;
	height:116px;
	top:0;
	left:0;
}
#collections ul li .sticker img{
	width:20px;
	height:20px;
	position:absolute;
}

#collections ul li label{
	line-height: 30px;
}

#ranking{
	position:relative;
	float:left;
	padding:16px 14px 0 14px;
}

#ranking ul li{
	height:30px;
	margin-left: 8px;
}
#ranking ul li span{
	position:relative;
	float:left;
	vertical-align: 30%;
	line-height:30px;
}

#ranking ul li img{
	position:relative;
	float:left;
	margin-left: 4px;
}
#ranking ul li .rank{
	width:15px;
	margin-left: 4px;
}

#ranking ul li .username{
	width:90px;
	margin-left: 4px;
}

#ranking ul li .userscore{
	font-size: 15px;
	color:#E16C4E;
	margin-left: 4px;
}


/*******************************
*
*   map overlay options
*
********************************/

.gmnoprint svg text {
	display:none;
}


.gm-style div[style*="z-index: 1; margin: 10px; position: absolute; left: 88px; top: 0px;"] {
	display:none;
}

.gm-style .gm-style-iw div #siteNotice{
	height:auto;
}

.gm-style .gm-style-iw div #siteno #name{
	font-size: 13px;
}

.gm-style .gm-style-iw div #content #name{
	font-size: 13px;
}

.gm-style .gm-style-iw div #content {
	height:auto;
}

#content #name,#content #rating{
	font-weight: bold;
	color:#E16C4E;
} 	

#content label{
	font-weight: 400;
	color:#2A2D33;
}

#content #price{
	font-weight: bold;
	color:#ECC932;
}
#content .detail{
	margin-top:4px;
	margin-bottom:6px;
}

.leaflet-popup-content {
padding: 10px;

}

.leaflet-popup-content #content #name{
	font-size: 11px;
}

/*******************************
*
*   tooltip
*
********************************/

span.tooltip {
	background: none repeat scroll 0 0 #009CC6;
   	color: #FFFFFF;
   	border-radius: 2px;	
	font-size: 11px;
	width:80px;
	padding: 4px 3px 2px 5px;
	position: absolute;
	text-align: center;
}
span.arrow {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 7px solid #009CC6;
	display: block;
	height: 1px;
	left: 32px;
	position: relative;
	top: 10px;
	width: 1px;
}

