/* CSS declarations go here */

.TradeGothicLTPro-Light { 
	font-family: TradeGothicLTPro-Light;
	font-weight: normal;
	font-style: normal;
}

html { height: 100% }
body { height: 100%; 
		margin: 0; 
		padding: 0; 
		background-color: #F4F6F6; 
		font-family: TradeGothicLTPro-Light;
		color:#58595B;
		font-size:13px;
	}
#container {
	width:900px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	padding:0;
}
input {
	border:0 solid #ffffff;
	margin:0;
	-webkit-appearance: none;
	display: inline-block;
	text-align: center;
	border-radius: 3px
}
input:hover {
	cursor: pointer;
}
#header {
	height:58px;
	padding:12px 0 16px 0;
}

.sig {
	width:56px;
	height:30px;
	background-color:#ffffff;
	
	font-size:11px;	
	position:relative;
	float:right;
	margin-top:28px;
}

#login-temp {
	margin-top:46px;
	margin-right:80px;
	position:relative;
	float:right;
}

.sig:hover{	
	background-color:#E16C4E;
	color:#ffffff;
}

#signin {
	border-radius: 3px 0 0 3px;
}

#signup {
	border-radius: 0 3px 3px 0;
	margin-left:1px;

}
#streetview{
	margin-bottom:2px;
}

#map {
	position:relative;
	float:left;	
}

#panel {
	position:relative;
	float: right;
	background-color:#ffffff;
}

#message {
	height:100px;
	margin-top:20px;
	margin-left: 30px;
	margin-right:30px;
	font-size:14px;
	
}

.inc {
	position:absolute;
	top:252px;
	margin-left: 30px;	
	width:160px;
	height:40px;	
	color:#ffffff;
	font-size: 14px;
}

#guess {
	background-color: #E16C4E;
}

#next {
	background-color: #3BB98C;
}
#guess:hover{
	background-color: #D65238;
}

