/* CSS declarations go here */
@import url("//hello.myfonts.net/count/27f1bb");

  
@font-face {font-family: 'TradeGothicLTPro-Light';
src: url('/27F1BB_0_0.eot');src: url('/27F1BB_0_0.eot?#iefix') format('embedded-opentype'),url('/27F1BB_0_0.woff') format('woff'),url('/27F1BB_0_0.ttf') format('truetype');}


html { height: 100% }
body { height: 100%; 
		margin: 0; 
		padding: 0; 
		background-color: #F4F6F6; 
		font-family: 'TradeGothicLTPro-Light';
		color:#58595B;
		font-size:13px;
}
:focus {
	outline: none;
}
#container {
	width:900px;
	height:100%;
	overflow:hidden;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	padding:0;
}

input {
	border:0 solid #ffffff;
	margin:0;
	-webkit-appearance: none;
	display: inline-block;
	text-align: center;
	border-radius: 3px;
	font-weight:300;
}

input:hover {
	cursor: pointer;
}

#header {
	height:58px;
	padding:6px 0 14px 0;
}

#header #logo{
	position:relative;
	float:left;
}
#header #logo:hover{
	cursor:pointer;
}

#menu{
	margin-top: 10px;
	margin-left: 140px;
	position:relative;
	float:left;
	
}	

#menu ul{
	padding-left: 0px;
	list-style: none;
}

#menu ul li{
	position: relative;
	float:left;
	width:140px;
}


#menu ul li:hover{
	cursor: pointer;
	color:#E16C4E;
}

#menu ul li label{
	font-size: 14px;
	margin-left: 8px;
	vertical-align: 50%;
}

#menu ul li label:hover{
	cursor: pointer;
}
.sig {
	width:56px;
	height:30px;
	background-color:#ffffff;	
	font-size:11px;	
	position:relative;
	float:right;
	margin-top:28px;
}

#login-temp {
	margin-top:28px;
	margin-right:160px;
	position:relative;
	float:right;
}

.sig:hover{	
	background-color:#E16C4E;
	color:#ffffff;
}

#signin {
	border-radius: 3px 0 0 3px;
}

#signup {
	border-radius: 0 3px 3px 0;
	margin-left:1px;

}


#intro{
	position:relative;
	float:left;
}

#intro2{
	position:absolute;
	left:450px;
}

#circle{
	position: absolute;
	left:385px;
	top:95px;
}

#circle #circle-text {
	position:absolute;
	top:0;
	width: 106px;
	font-size: 15px;
	padding-left:14px;
	padding-right: 14px;
	color: #ffffff;
	font-weight: 200;
	text-align: center;
	line-height: 20px;
}

#panel {
	position:absolute;
	top:0px;
	left:900px;
	background-color:#ffffff;
}

#streetview{
	position:absolute;
	top:0;
	opacity:0;
}

#map {
	position:absolute;
	top:0;
	opacity:0;
}

#top{
	position:relative;
	float:left;
	height:320px;
}

#steps{
	position:relative;
	float:left;
}
#steps ul{	
	list-style: none;
	padding:30px 60px 0 60px;
}

#steps ul li{
	position: relative;
	float: left;
	width:168px;
	margin-right:46px;
	margin-left:46px;
	text-align: center;
}

#steps ul li label{
	line-height: 44px;
	font-size: 24px;
	font-weight: 200;
}	

#steps ul li p{
	margin-top: 4px;

}

#intro-overlay{
	position:absolute;
	top:0;
	margin-left:216px;
	font-weight: 300;
}

#intro-overlay p{
	color:#ffffff;
	margin:32px 22px 0 26px;
	line-height: 22px;
	font-size: 14px;	
}

#intro-overlay div{
	margin-top: 20px;
}

#intro-overlay #autocomplete{
	border:1px solid #999;
	color:#58595B;
	font-size:13px;
	padding:0 10px 0 10px;
}

#intro-overlay #icon_pl {
	position:relative;
	left: 138px;
	top: 7px;
	z-index: 999;
}

#message {
	height:72px;
	margin-top:80px;
	margin-left: 30px;
	margin-right:30px;
	font-size:14px;	
}

.inc {
	padding:0;
	position:relative;
	margin-top:14px;
	margin-left:28px;	
	width:150px;
	height:36px;	
	color:#ffffff;
	font-size: 14px;
}

#guess,#play {
	font-weight:300;
	background-color: #E16C4E;
}

#play{
	width:170px;
	margin-top: 0px;
}

#guess,#play:hover{
	background-color: #D65238;
}

#next{
	background-color:#3BB98C;
}

#next:hover{
	background-color:#0CA369;
}

#return{
	background-color: #039ED5;
}

#return:hover{
	background-color: #006884;
}

.accounts-dialog {
	border: 0px solid #777777;
	z-index: 1000;
	background: white;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 3px;
	padding: 16px 16px;
	margin: -8px -12px 0 -12px;
	width: 198px;
	color:#58595B;
	font-size:13px;
	
}

.accounts-dialog input[type] {
	height: 32px;
}

#autocomplete,.accounts-dialog input[type]:hover{
	cursor:text;
}

#login-sign-in-link {
	text-align: center;
	padding-top:10px;
	width:56px;
	height:22px;
	background-color:#ffffff;
	border-radius: 3px 0 0 3px;
	font-size:11px;	
	position:relative;
	float:right;
	
}

#login-sign-in-link:hover{
	background-color:#E16C4E;
	color:#ffffff;
}


#login-buttons a, .accounts-dialog a {
	cursor: pointer;
	text-decoration: none;
}

#login-buttons .login-close-text {
	float: right;
	font-size: 85%;
}

.accounts-dialog label, .accounts-dialog .title {
	font-weight: 300;
	font-size: 100%;
	line-height: 30px;
}

#login-buttons .login-button, .accounts-dialog .login-button {
	margin-top:24px;
	height:18px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	padding: 8px 8px;
	font-size: 100%;	
	line-height: 1.5;
	text-align: center;
	color: #fff;
	text-shadow: none;
	background-color: #E16C4E;
	background-image:none;
	border-radius: 3px;
	border: 0px solid #1b1e2d;
	box-shadow: none;
}

#login-buttons .login-button, .accounts-dialog .login-button :hover{
	background-color: #D65238;
}

#login-buttons .login-button, .accounts-dialog .login-button :active{
	background-color: #D65238;
}


.accounts-dialog .additional-link {
	margin-top:6px;
	font-size: 85%;
}


/*******************************
*
*   panorama options
*
********************************/

.gmnoprint svg text {
	display:none;
}


.gm-style div[style*="z-index: 1; margin: 10px; position: absolute; left: 88px; top: 0px;"] {
	display:none;
}

